.skillcontainer {
  width: 250px;

  background-color: brown;
  padding: 10px;
  margin: auto;
  border-radius: 15px;
  border: maroon 5px solid;
  box-shadow: black 1px 1px 1px;
  opacity: 0.9;
}

.skillcontainer h3 {
  color: whitesmoke;
  border-bottom: whitesmoke 1px solid;

  margin-top: 15px;
  text-align: center;
  padding: 3px;
}

.skill1 {
  display: flex;
  padding: 5px;
}

#ratingimg {
  width: 100px;

  margin-top: 7px;
}

.skill1 h4 {
  width: 125px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 3px;
  color: whitesmoke;
}

#rlskills {
  color: whitesmoke;
  border-bottom: 1px white solid;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
