* {
  margin: 0;
  padding: 0;
}
html {
  background-image: linear-gradient(to right, #28313b, #485461);
}
.longp1 {
  width: 350px;
  margin: auto;

  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  border: 1px solid grey;
  padding: 5px;
  color: aliceblue;
}
.longp {
  margin-top: 25px;
  width: 350px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  color: aliceblue;
  border-bottom: 1px solid grey;
}

.pc1 {
  width: 400px;
  height: auto;
  border-radius: 12px;
}
.theparas {
  color: white;
  display: block;
  width: 350px;
  margin-top: 15px;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.theparas h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.thepara1 h2 {
  color: aliceblue;
  margin-bottom: 15px;
  padding: 10px;
  margin-top: 15px;
}
.child1 {
  display: block;
  padding-top: 10px;
  margin-top: 50px;
  width: 50%;
  min-width: 450px;
  margin: auto;
  background-image: url("../images/opcbg2.png");
  justify-content: center;
  align-self: center;
  text-align: center;
  background-size: cover;
  border-radius: 25px;
}

.thepara1 {
  display: block;
  width: 400px;
  justify-content: center;

  text-align: center;
  margin: auto;
}

.gitclass h4 {
  margin-top: 10px;
  color: whitesmoke;
}

.gitclass img {
  width: 150px;
  padding: 10px;
}

.Hero {
  height: 100%;
}
