* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 690px;
  background-color: black;
  background-image: url("./images/beachbg.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: rgb(37, 36, 36) solid 5px;
  background-position: center;
  opacity: 1;
}

.welcomecontainer {
  display: flex;
  justify-content: baseline;
  justify-self: baseline;
  width: 100%;

  background-position-y: 40%;
  overflow: hidden;
}

.welcometxt {
  width: 100%;
  height: 110px;
  padding: 15px;
  color: white;
  background-image: url("./images/opcbg3.png");
  text-shadow: 2px 2px 3px grey;
  border-radius: 15px;

  text-align: center;
  margin: auto;

  opacity: 0.9;
}

.welcometxt p {
  padding: 3px;
}

/*             Navbar includet        */

.mainnav > ul {
  display: inline;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
}

.mainnav > ul > li > ul > li {
  display: none;
}

.mainnav ul li:hover ul li {
  display: block;
  justify-self: start;
  margin: 5px;
  position: relative;
  left: -80px;
  max-inline-size: 40px;
  transition: 1s;
}

.mainnav ul li:hover #shnu li {
  display: block;
  justify-self: start;
  margin: 5px;
  position: relative;
  left: -60px;
  max-inline-size: 40px;
  transition: 1s;
}

.mainnav > ul > li {
  align-items: initial;
  display: inline-flex;
  margin: 10px;
  float: left;
}

#pops {
  display: none;
}
.mainnav {
  overflow: hidden;
}
.ept {
  width: 100%;
  height: 420px;
  margin-top: 100px;
}

.mainnav a:hover {
  opacity: 0.5;
}

#thealt {
  display: none;
}

@media (max-width: 450px) {
  .mainnav ul {
    display: none;
  }

  #thealt {
    display: flex;
    justify-content: center;
  }
  .welcometxt {
    margin-top: -200px;
  }

  .container {
    height: 350px;
  }
}

@media (min-width: 450) {
  #pipipopo {
    display: none;
  }
}

.clickbtn {
  width: 100%;
  background-color: maroon;
  color: white;
  margin: 2px;
  padding: 7px;
  opacity: 0.8;
}

#triggerbtn {
  width: 100%;
  background-color: maroon;
  box-shadow: 2px 2px black;
  padding: 15px;
  color: white;
  font-size: 22px;
}
