.bannercontainer {
  display: flex;

  position: relative;
  width: 100%;
  height: 590px;
  background-image: linear-gradient(to right, #28313b, #485461);
  opacity: 0.95;
  overflow: hidden;
  font-size: 18px;
  z-index: 2;
}

#videoclass {
  position: absolute;
  min-width: 100%;
  z-index: -1;
}

#videoclass video {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.navnav ul {
  display: flex;
  text-decoration: none;
}

#weirdo {
  margin-left: 6px;
}

.navnav ul li {
  list-style: none;
  margin: 10px;
  float: left;
  width: 100px;
}

.navnav ul li ul {
  flex-direction: column;
}

.navnav ul li:hover ul li {
  display: flex;

  margin-left: -67px;
  position: relative;

  max-inline-size: 60px;
}

.navnav ul li ul li {
  display: none;
}

.navnav > ul > li > a {
  align-items: initial;
  opacity: 1;
  float: left;
}

ul li:hover #shnu li {
  display: flex;

  margin-left: -48px;
  position: relative;

  max-inline-size: 60px;
}

.welcomecontainer {
  display: flex;
  align-items: center;
  justify-self: center;
  position: absolute;
  z-index: 10;
  background-image: url("./images/opcbg3.png");
  width: 100%;
  margin: auto;
  top: 70%;
  opacity: 0.8;
}

.welcometxt {
  width: 100%;

  padding: 15px;
  color: white;

  text-shadow: 2px 2px 3px grey;
  border-radius: 15px;
  text-align: center;
}

#themenu {
  display: none;
}

@media (max-width: 450px) {
  .navnav ul li {
    display: none;
  }

  .bannercontainer {
    height: 300px;
  }

  .welcomecontainer {
    display: none;
  }
}

@media (max-width: 750px) {
  .navnav ul li {
    display: none;
  }
  #themenu {
    display: block;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: brown;
    margin: auto;
    margin-top: 15px;
    opacity: 0.8;
    font-size: 18px;
    color: white;
  }

  .bannercontainer {
    height: 300px;
  }

  .welcomecontainer {
    display: none;
  }
}

#pipipopo button {
  width: 100%;
  height: 50px;
  margin: 1px;
  color: white;
  font-size: 18px;
  background-color: brown;
}
