* {
  margin: 0;
  padding: 0;
}

.services img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.services h3 {
  border-bottom: grey 1px solid;
  padding: 5px;
  margin-bottom: 7px;
}
.pic1con {
  background-image: url("./images/opcbg2.png");
  margin-left: 15px;
  margin-right: 15px;
  height: 300px;
  display: flex;
  border-radius: 5px;
  box-shadow: 3px 3px black;
}
.pic2con {
  background-image: url("./images/opcbg2.png");
  margin-left: 15px;
  margin-right: 15px;
  height: 300px;
  display: flex;
  border-radius: 5px;
  box-shadow: 3px 3px black;
}

.mainnav video {
}
.pic1con :hover {
  opacity: 0.6;
}
.pic2con :hover {
  opacity: 0.6;
}

.services {
  width: 100%;
  margin: auto;
  display: flex;

  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.rechts {
  margin-left: 5px;
  padding: 5px;
  position: relative;
}

.rechts2 {
  margin-left: 5px;
  padding: 5px;
  position: relative;
}

@media (max-width: 980px) {
  .services {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .services {
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  .services {
    display: block;
    height: auto;
    font-size: 10px;
  }

  .services img {
    height: 200px;
    width: 200px;
    margin-top: 10px;
  }

  .services h3 {
    padding: 3px;
  }

  .pic1con {
    margin-top: 10px;
    padding: 10px;
    height: 220px;
  }
  .pic2con {
    margin-top: 10px;
    padding: 10px;
    height: 220px;
  }
}

.services h3 {
  padding: 3px;
}

.pic1con {
  margin-top: 10px;
  padding: 10px;
}
.pic2con {
  margin-top: 10px;

  padding: 10px;
}
