* {
  margin: 0;
  padding: 0;
}

.Hero1 {
  display: flex;
  justify-content: center;
  margin: 0;
}

.proj1 {
  width: 300px;
  height: 350px;
  background-image: url("./images/opcbg2.png");
  padding: 20px;
  margin: 10px;
  border-radius: 15%;
  color: aliceblue;
}

.proj2 {
  width: 300px;
  height: 350px;
  background-image: url("./images/opcbg2.png");
  padding: 20px;
  margin: 10px;
  border-radius: 15%;
  color: aliceblue;
}

.proj3 {
  width: 300px;
  height: 350px;
  background-image: url("./images/opcbg2.png");
  padding: 20px;
  margin: 10px;
  border-radius: 15%;
  color: aliceblue;
}

.inbimg {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90px;
  border-radius: 50%;
}

.inbimgcv {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 83px;
  border-radius: 50%;
  border: 3px white solid;
}

.Hero > p {
  width: 300px;
}

.row2 {
  display: flex;
  justify-content: center;
}

.proj4 {
  width: 300px;
  height: 350px;
  background-image: url("./images/opcbg2.png");
  padding: 20px;
  margin: 10px;
  border-radius: 15%;
  color: aliceblue;
}
.proj5 {
  width: 300px;
  height: 350px;
  background-image: url("./images/opcbg2.png");
  padding: 20px;
  margin: 10px;
  border-radius: 15%;
  color: aliceblue;
}
.proj6 {
  width: 300px;
  height: 350px;
  background-image: url("./images/opcbg2.png");
  padding: 20px;
  margin: 10px;
  border-radius: 15%;
  color: aliceblue;
}

.proj1:hover {
  width: 450px;
  transition: 1s;
  height: 500px;
}

.proj2:hover {
  width: 450px;
  transition: 1s;
  height: 500px;
}
.proj3:hover {
  width: 450px;
  transition: 1s;
  height: 500px;
}
.proj4:hover {
  width: 450px;
  transition: 1s;
  height: 500px;
}
.proj5:hover {
  width: 450px;
  height: 500px;
  transition: 1s;
}
.proj6:hover {
  width: 450px;
  height: 500px;
  transition: 1s;
}
a {
  text-decoration: none;
  color: whitesmoke;
}

@media all and (max-width: 450px) {
  .row1 {
    display: block;
  }
  .row2 {
    display: block;
  }

  .proj2 {
    display: none;
  }
  .proj3 {
    display: none;
  }
}
