.shopcontainer {
  width: 100%;

  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882");
  background-repeat: no-repeat;

  background-size: cover;
}
@media (max-width: 550px) {
  .shopcontainer {
    display: block;
  }

  #headliner {
    display: block;
  }

  #headliner button {
    height: 60px;
    width: 60px;
    justify-content: center;
  }

  #headliner h1 {
    display: none;
  }
}
#pline1 {
  margin: 5px;
  padding: 5px;
}

.shopcontainer img {
  width: 150px;
  padding: 5px;
  justify-items: right;
}
#pline2 {
  margin: 5px;
  padding: 5px;
}

.break {
  flex-basis: 100%;
  width: 100%;
  height: 2px;
}

#prod1 {
  display: flex;
  border: 1px #333 solid;
  margin: 5px;
  padding: 5px;
  width: 270px;
  border-radius: 15px;
  background-color: black;
}
#prod2 {
  border: 1px #333 solid;
  display: flex;
  margin: 5px;
  padding: 5px;
  width: 270px;
  border-radius: 15px;
  background-color: black;
}
#prod3 {
  border: 1px #333 solid;
  margin: 5px;
  display: flex;
  padding: 5px;
  width: 270px;
  border-radius: 15px;
  background-color: black;
}

#prod4 {
  border: 1px #333 solid;
  margin: 5px;
  padding: 5px;
  display: flex;
  width: 270px;
  border-radius: 15px;
  background-color: black;
}

#prod5 {
  border: 1px #333 solid;
  margin: 5px;
  display: flex;
  padding: 5px;
  width: 270px;
  border-radius: 15px;
  background-color: black;
}

#prod6 {
  border: 1px #333 solid;
  margin: 5px;
  display: flex;
  padding: 5px;
  width: 270px;
  border-radius: 15px;
  background-color: black;
}

#prod7 {
  border: 1px #333 solid;
  margin: 5px;
  display: flex;
  padding: 5px;
  width: 270px;
  border-radius: 15px;
  background-color: black;
}

#prod8 {
  border: 1px #333 solid;
  margin: 5px;
  display: flex;
  padding: 5px;
  width: 270px;
  border-radius: 15px;
  background-color: black;
}

#headliner {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 5px;
  border-radius: 15px;
}

#headliner h1 {
  margin-top: 10px;
  margin-right: 10px;
}

#headliner button {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  background-color: #333;
  width: auto;
  padding: 10px;
}

.Wholecontainer {
  border: grey solid 1px;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  color: whitesmoke;
  margin-top: 15px;
  border-radius: 15px;
}

.shopcontainer img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-top: 5px;
}

.shopcontainer button {
  padding: 7px;
  align-self: baseline;
  background: radial-gradient(rgb(155, 0, 0), brown, rgb(241, 38, 38));
  color: white;
  border-radius: 5px;
  text-shadow: 0px 1px 1px black;
}

#btnnnn {
  padding-top: 11px;
  padding-bottom: 11px;
  align-self: baseline;
  background-color: maroon;
  color: white;
  border-radius: 5px;
}

.pricediv {
  display: flex;
  align-items: center;
  align-self: center;
}
.shopcontainer label {
  float: right;
  margin-left: 5px;
  padding: 8px;
  border-radius: 50%;
  border: 1px white solid;
}

.shopcontainer h3 {
  font-size: 18px;
}

.shopcontainer p {
  font-size: 14px;
}

#desc {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.divone {
  border: solid 1px grey;
  margin-left: 10px;
}
