* {
  margin: 0;
  padding: 0;
}

.App {
  background-size: cover;
  padding: 0px;
  background-image: linear-gradient(to right, #28313b, #485461);
  margin: 0px;
}

.Mainp {
  background-size: cover;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to right, #28313b, #485461);
}

.Myp {
  background-size: cover;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to right, #28313b, #485461);
}

.Myps {
  background-size: cover;

  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to right, #28313b, #485461);
}
