* {
  margin: 0;
  padding: 0;
}

.App {
  background-size: cover;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  background-image: linear-gradient(to right, #28313b, #485461);
  margin: 0px;
}

.Mainp {
  font-family: "Roboto", sans-serif;
  background-size: cover;

  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to right, #28313b, #485461);
}

.Myp {
  font-family: "Roboto", sans-serif;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to right, #28313b, #485461);
}

.Myps {
  background-size: cover;

  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to right, #28313b, #485461);
}

/*-----------------------------------Spec media------------------------------------------------------*/

#navnavbar {
  display: block;
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: 10;
}
