* {
  margin: 0;
  padding: 0;
}

.App {
  background-size: cover;
  padding: 0px;
  background-color: #333;
  margin: 0px;
}

.Mainp {
  background-size: cover;
  padding: 0px;
  margin: 0px;
  background-color: #333;
}

.Myp {
  background-size: cover;
  padding: 0px;
  margin: 0px;
  background-color: #333;
}

.Myps {
  background-size: cover;

  padding: 0px;
  margin: 0px;
  background-color: #333;
}
